* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url('./assets/engin-akyurt-HEMIBJ8QQuA-unsplash.jpg') no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    z-index: -1;
    min-height: 850px;
    background-color: greenyellow;
}

#main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sign-up {
    width: 85vw;
    max-width: 768px;
    margin: 10px auto;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
}

#sign-up::before {
    content: "";
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: rgb(240, 198, 120);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}

.form-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 20px;
}

input {
    font-size: 15px;
    width: 80%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid orangered;
    border-right: 1px solid orangered;
    outline: none;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    padding: 3px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.8);
}

.invalid {
    grid-column: 2/3;
    margin-top: 5px;
    color: red;
    font-size: 13px;
    display: block;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#toc {
    grid-column: 1/3;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#toc label {
    text-align: center;
}

#submit-button {
    padding: 10px;
    grid-column: 1/3;
    border-radius: 50px;
    font-size: 20px;
    width: 100px;
    background-color: transparent;
    outline: none;
    border: 1px solid orange;
    box-shadow: -4px 5px rgba(0, 0, 0, 0.5);
}

#submit-button:hover {
    background-color: orange;
    color: white;
    box-shadow: 0px 0px 10px black;
    transform: translateY(5px);
    transition: 100ms ease-in;
}

.redirect {
    margin-top: 30px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    #sign-up {
        width: 50vw;
        padding: 20px;
    }
    .form-input {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin-top: 20px;
    }
    input {
        font-size: 20px;
    }
    .error-message {
        grid-column: 2/3;
        margin-top: 5px;
        color: orangered;
        font-size: 15px;
    }
}

@media only screen and (min-width: 992px) {
    #sign-up {
        width: 60vw;
        padding: 40px;
    }
    .form-input {
        font-size: 25px;
    }
}